.banner {
    position: relative;
    background-image: linear-gradient(to right, rgb(224, 210, 252), rgba(0, 0, 0, 0)), url('../../../../public/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
